body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #e5e5e5;
}

.container {
position: relative;
width: 95%;
max-width: 100%;
margin: 0 auto;
padding: 0 20px;
box-sizing: border-box;
}

div {
  display: block;
}

.header {
position: absolute;
margin-bottom: 70px;
display: block;
z-index: 2;
}

.navbar {
background-color: #fff;
color: #555;
position: fixed;
top: 0;
left: 0;
border: none;
padding: 0;
transition: none;
box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
width: 100%;
max-width: 100%;
}

.navbar .container {
display: flex;
padding: 10px 15px;
vertical-align: middle;
align-items: center;
}

.navbar-header {
float: left;
}

.navbar .navbar-header .logo-wrapper {
display: flex;
align-items: center;
}

.navbar .navbar-header .navbar-brand {
padding: 0 15px;
position: relative;
color: inherit;
height: auto;
margin-left: -15px;
line-height: 30px;
float: left;
align-items: center;
}

.navbar .navbar-header .navbar-brand img {
width: 80px;
height: auto;
}

.navbar .container .main-navigation {
margin-left: auto;
border: none;
display: block;
height: auto;
padding-left: 0;
padding-right: 0;
padding-bottom: 0;
overflow: visible;
}

.navbar .container .main-navigation .menu-main-menu {
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
float: left;
font-family: Montserrat;
list-style: none;
}

.navbar .navbar-nav>li {
margin: 0px;
}

.navbar .navbar-nav>li>a {
  text-transform: none;
}

.navbar .navbar-nav>li a {
font-size: 67%;
font-weight: 500;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 3px;
color: inherit;
position: relative;
display: block;
padding: 10px 15px;
}

.navbar a {
font-size: 14px;
color: inherit;
text-decoration: none;
padding: 15px;
border-radius: 3px;
}

main {
position: relative;
display: block;
margin-top: 125px;
width: 100%;
z-index: 1; 
}

.cards {
background-image: linear-gradient(100deg,#EC6C1C 0%,#f2295b 100%);
box-shadow: 0 30px 60px 0 rgb(0 0 0 / 35%);
border: none;
border-radius: 9px 9px 9px 9px;
color: #FFF;
position: relative;
padding: 0;
z-index: 1;
width: 94%;
margin: 0 auto 25px auto;
}

.cards .container {
padding: 25px;
vertical-align: middle;
align-items: center;
}

.cards .columns {
display: flex;
flex-wrap: nowrap;
justify-content: space-around;
}

.cards .column{
display: grid;
}

.card-body {
  padding: 2rem;
}

.tables {
display: grid;
grid-gap: 1rem;
grid-template-columns: 100%;
width: 94%;
margin: 0 auto 60px auto;
}

.tables .card {
background: #e5e5e5;
border-radius: 8px;
box-shadow: 0 10px 20px 0 rgb(0 0 0 / 35%);
margin: 10px 10px 10px 10px;
}

.tables .card .card-header {
display: flex;
justify-content: center;
align-items: center;
border-bottom: 1px solid #F0F0F0;
}

.table {
vertical-align: middle;
align-items: center;
margin: 0 3vw;
padding: 30px 25px 0px 25px;
}

table {
border-collapse: collapse;
width: 100%;
overflow-x: auto;
}

thead tr {
border-top: 1px solid #F0F0F0;
border-bottom: 2px solid #F0F0F0;
}

thead td {
font-weight: 700;
color: #000;
}

td {
padding: .5rem 1rem;
font-size: .9rem;
color: #222;
text-align: center;
}

